
[*]
charset = utf-8-bom
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:error
csharp_style_namespace_declarations = block_scoped:error
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = false:warning
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = false:warning
dotnet_naming_rule.event_rule.import_to_resharper = as_predefined
dotnet_naming_rule.event_rule.severity = error
dotnet_naming_rule.event_rule.style = on_upper_camel_case_style
dotnet_naming_rule.event_rule.symbols = event_symbols
dotnet_naming_rule.local_functions_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_functions_rule.severity = error
dotnet_naming_rule.local_functions_rule.style = lower_camel_case_style_1
dotnet_naming_rule.local_functions_rule.symbols = local_functions_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = error
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = error
dotnet_naming_rule.private_static_fields_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = error
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = none
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.on_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.on_upper_camel_case_style.required_prefix = On
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.event_symbols.applicable_accessibilities = *
dotnet_naming_symbols.event_symbols.applicable_kinds = event
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_functions_symbols.applicable_kinds = local_function
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_sort_system_directives_first = false
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_expression_braces = true
resharper_align_multiline_statement_conditions = false
resharper_arguments_skip_single = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_local_method = 1
resharper_blank_lines_around_single_line_type = 0
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_blank_lines_before_single_line_comment = 1
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_for = required_for_multiline
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_ifelse = required_for_multiline
resharper_braces_for_lock = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_braces_for_while = required_for_multiline
resharper_braces_redundant = false
resharper_continuous_line_indent = none
resharper_cpp_indent_style = tab
resharper_cpp_invocable_declaration_braces = end_of_line
resharper_cpp_max_line_length = 153
resharper_cpp_remove_blank_lines_near_braces_in_code = false
resharper_cpp_space_after_keywords_in_control_flow_statements = false
resharper_cpp_space_between_method_declaration_name_and_open_parenthesis = true
resharper_cpp_type_declaration_braces = end_of_line
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_namespace = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_indent_style = tab
resharper_csharp_keep_blank_lines_in_code = 100
resharper_csharp_keep_blank_lines_in_declarations = 100
resharper_csharp_max_line_length = 544
resharper_csharp_naming_rule.enum_member = AaBb:do_not_check
resharper_csharp_place_type_constraints_on_same_line = false
resharper_csharp_stick_comment = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_multiple_declaration_style = chop_always
resharper_csharp_wrap_multiple_type_parameter_constraints_style = chop_always
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_default_internal_modifier = implicit
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_pars = outside
resharper_indent_preprocessor_directives = do_not_change
resharper_indent_preprocessor_if = do_not_change
resharper_indent_preprocessor_other = usual_indent
resharper_instance_members_qualify_declared_in = 
resharper_int_align_comments = true
resharper_int_align_declaration_names = true
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_initializer_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_max_attribute_length_for_same_line = 10000
resharper_method_or_operator_body = expression_body
resharper_nested_ternary_style = simple_wrap
resharper_new_line_before_while = true
resharper_object_creation_when_type_not_evident = target_typed
resharper_outdent_statement_labels = true
resharper_parentheses_non_obvious_operations = none, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_same_type_operations = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = false
resharper_place_constructor_initializer_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_field_attribute_on_same_line = false
resharper_place_record_field_attribute_on_same_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_place_simple_property_pattern_on_single_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_simple_block_style = line_break
resharper_simple_embedded_statement_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_trailing_comma_in_multiline_lists = true
resharper_trailing_comma_in_singleline_lists = true
resharper_use_indent_from_vs = false
resharper_use_roslyn_logic_for_evident_types = true
resharper_wrap_after_dot_in_method_calls = true
resharper_wrap_after_expression_lbrace = false
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_before_expression_rbrace = false
resharper_wrap_before_linq_expression = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_for_stmt_header_style = wrap_if_long
resharper_wrap_list_pattern = chop_if_long
resharper_wrap_property_pattern = chop_always
resharper_wrap_verbatim_interpolated_strings = wrap_if_long
resharper_xmldoc_indent_style = tab
resharper_xmldoc_spaces_around_eq_in_attribute = true
resharper_xmldoc_spaces_around_eq_in_pi_attribute = true
resharper_xmldoc_space_before_self_closing = false

# ReSharper inspection severities
resharper_annotate_can_be_null_parameter_highlighting = suggestion
resharper_annotate_can_be_null_type_member_highlighting = suggestion
resharper_annotate_not_null_parameter_highlighting = hint
resharper_annotate_not_null_type_member_highlighting = suggestion
resharper_arrange_attributes_highlighting = error
resharper_arrange_constructor_or_destructor_body_highlighting = error
resharper_arrange_default_value_when_type_evident_highlighting = error
resharper_arrange_default_value_when_type_not_evident_highlighting = error
resharper_arrange_local_function_body_highlighting = error
resharper_arrange_method_or_operator_body_highlighting = hint
resharper_arrange_object_creation_when_type_evident_highlighting = hint
resharper_arrange_object_creation_when_type_not_evident_highlighting = suggestion
resharper_arrange_redundant_parentheses_highlighting = suggestion
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = none
resharper_arrange_type_member_modifiers_highlighting = error
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_class_can_be_sealed_global_highlighting = hint
resharper_class_can_be_sealed_local_highlighting = suggestion
resharper_comment_typo_highlighting = hint
resharper_compare_non_constrained_generic_with_null_highlighting = warning
resharper_condition_is_always_true_or_false_highlighting = error
resharper_double_negation_operator_highlighting = error
resharper_enforce_do_while_statement_braces_highlighting = error
resharper_enforce_fixed_statement_braces_highlighting = error
resharper_enforce_foreach_statement_braces_highlighting = error
resharper_enforce_for_statement_braces_highlighting = error
resharper_enforce_if_statement_braces_highlighting = error
resharper_enforce_lock_statement_braces_highlighting = error
resharper_enforce_using_statement_braces_highlighting = error
resharper_enforce_while_statement_braces_highlighting = warning
resharper_expression_is_always_null_highlighting = error
resharper_function_complexity_overflow_highlighting = warning
resharper_heuristic_unreachable_code_highlighting = error
resharper_identifier_typo_highlighting = hint
resharper_inconsistent_naming_highlighting = error
resharper_local_function_can_be_made_static_highlighting = warning
resharper_loop_can_be_partly_converted_to_query_highlighting = suggestion
resharper_mismatched_asmdef_filename_highlighting = error
resharper_pattern_is_always_true_or_false_highlighting = error
resharper_redundant_array_creation_expression_highlighting = warning
resharper_redundant_base_qualifier_highlighting = error
resharper_redundant_cast_highlighting = error
resharper_redundant_if_else_block_highlighting = warning
resharper_redundant_jump_statement_highlighting = error
resharper_redundant_ternary_expression_highlighting = error
resharper_redundant_virtual_modifier_highlighting = suggestion
resharper_sealed_member_in_sealed_class_highlighting = error
resharper_string_ends_with_is_culture_specific_highlighting = warning
resharper_string_starts_with_is_culture_specific_highlighting = warning
resharper_struct_member_can_be_made_read_only_highlighting = suggestion
resharper_suggest_var_or_type_simple_types_highlighting = error
resharper_unity_duplicate_event_function_highlighting = error
resharper_unity_expected_component_highlighting = error
resharper_unity_expected_scriptable_object_highlighting = error
resharper_unity_explicit_tag_comparison_highlighting = error
resharper_unity_incorrect_method_signature_highlighting = error
resharper_unity_incorrect_mono_behaviour_instantiation_highlighting = error
resharper_unity_incorrect_scriptable_object_instantiation_highlighting = error
resharper_unity_inefficient_property_access_highlighting = hint
resharper_unity_load_scene_disabled_scene_name_highlighting = error
resharper_unity_load_scene_unexisting_scene_highlighting = error
resharper_unity_performance_critical_code_camera_main_highlighting = error
resharper_unity_performance_critical_code_invocation_highlighting = warning
resharper_unity_performance_critical_code_null_comparison_highlighting = warning
resharper_unity_prefer_non_alloc_api_highlighting = error
resharper_unity_redundant_attribute_on_target_highlighting = error
resharper_unity_redundant_formerly_serialized_as_attribute_highlighting = error
resharper_unity_redundant_hide_in_inspector_attribute_highlighting = error
resharper_unity_redundant_initialize_on_load_attribute_highlighting = error
resharper_unity_redundant_serialize_field_attribute_highlighting = error
resharper_unity_unknown_animator_state_name_highlighting = error
resharper_unity_unknown_input_axes_highlighting = error
resharper_unity_unknown_layer_highlighting = error
resharper_unity_unknown_resource_highlighting = error
resharper_unity_unknown_tag_highlighting = error
resharper_unity_unresolved_component_or_scriptable_object_highlighting = error
resharper_use_nameof_expression_for_part_of_the_string_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[{*.har,*.inputactions,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_style = space
indent_size = 2

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[*.asmdef]
indent_style = space
indent_size = 2

[*.asmref]
indent_style = space
indent_size = 2

[*.{c,c++,cc,cginc,compute,cp,cpp,cs,cu,cuh,cxx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,mpp,mq4,mq5,mqh,tpp,usf,ush}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,paml,razor,resw,resx,shader,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
