<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop.Analyzers rules with default action" Description="StyleCop.Analyzers with default action. Rules with IsEnabledByDefault = false are disabled." ToolsVersion="17.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.DocumentationRules">
        <Rule Id="SA1600" Action="Hidden" />
        <Rule Id="SA1601" Action="Hidden" />
        <Rule Id="SA1602" Action="Hidden" />
        <Rule Id="SA1603" Action="Hidden" />
        <Rule Id="SA1604" Action="Hidden" />
        <Rule Id="SA1605" Action="Hidden" />
        <Rule Id="SA1606" Action="Hidden" />
        <Rule Id="SA1607" Action="Hidden" />
        <Rule Id="SA1608" Action="Hidden" />
        <Rule Id="SA1609" Action="Hidden" />
        <Rule Id="SA1610" Action="Hidden" />
        <Rule Id="SA1611" Action="Hidden" />
        <Rule Id="SA1612" Action="Hidden" />
        <Rule Id="SA1613" Action="Hidden" />
        <Rule Id="SA1614" Action="Hidden" />
        <Rule Id="SA1615" Action="Hidden" />
        <Rule Id="SA1616" Action="Hidden" />
        <Rule Id="SA1617" Action="Hidden" />
        <Rule Id="SA1618" Action="Hidden" />
        <Rule Id="SA1619" Action="Hidden" />
        <Rule Id="SA1620" Action="Hidden" />
        <Rule Id="SA1621" Action="Hidden" />
        <Rule Id="SA1622" Action="Hidden" />
        <Rule Id="SA1623" Action="Hidden" />
        <Rule Id="SA1624" Action="Hidden" />
        <Rule Id="SA1625" Action="Hidden" />
        <Rule Id="SA1626" Action="Hidden" />
        <Rule Id="SA1627" Action="Hidden" />
        <Rule Id="SA1628" Action="Hidden" />
        <Rule Id="SA1629" Action="Hidden" />
        <Rule Id="SA1630" Action="Hidden" />
        <Rule Id="SA1631" Action="Hidden" />
        <Rule Id="SA1632" Action="Hidden" />
        <Rule Id="SA1633" Action="Hidden" />
        <Rule Id="SA1634" Action="Hidden" />
        <Rule Id="SA1635" Action="Hidden" />
        <Rule Id="SA1636" Action="Hidden" />
        <Rule Id="SA1637" Action="Hidden" />
        <Rule Id="SA1638" Action="Hidden" />
        <Rule Id="SA1639" Action="Hidden" />
        <Rule Id="SA1640" Action="Hidden" />
        <Rule Id="SA1641" Action="Hidden" />
        <Rule Id="SA1642" Action="Hidden" />
        <Rule Id="SA1643" Action="Hidden" />
        <Rule Id="SA1644" Action="Hidden" />
        <Rule Id="SA1645" Action="Hidden" />
        <Rule Id="SA1646" Action="Hidden" />
        <Rule Id="SA1647" Action="Hidden" />
        <Rule Id="SA1648" Action="Hidden" />
        <Rule Id="SA1649" Action="Hidden" />
        <Rule Id="SA1650" Action="Hidden" />
        <Rule Id="SA1651" Action="Hidden" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.LayoutRules">
        <Rule Id="SA1500" Action="Warning" />
        <Rule Id="SA1501" Action="Warning" />
        <Rule Id="SA1502" Action="Warning" />
        <Rule Id="SA1503" Action="Warning" />
        <Rule Id="SA1504" Action="Warning" />
        <Rule Id="SA1505" Action="Warning" />
        <Rule Id="SA1506" Action="Warning" />
        <Rule Id="SA1507" Action="Warning" />
        <Rule Id="SA1508" Action="Warning" />
        <Rule Id="SA1509" Action="Warning" />
        <Rule Id="SA1510" Action="Warning" />
        <Rule Id="SA1511" Action="Warning" />
        <Rule Id="SA1512" Action="Warning" />
        <Rule Id="SA1513" Action="Warning" />
        <Rule Id="SA1514" Action="Warning" />
        <Rule Id="SA1515" Action="Warning" />
        <Rule Id="SA1516" Action="Warning" />
        <Rule Id="SA1517" Action="Warning" />
        <Rule Id="SA1518" Action="Hidden" />
        <Rule Id="SA1519" Action="Warning" />
        <Rule Id="SA1520" Action="Warning" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.MaintainabilityRules">
        <Rule Id="SA1119" Action="Warning" />
        <Rule Id="SA1400" Action="Warning" />
        <Rule Id="SA1401" Action="Warning" />
        <Rule Id="SA1402" Action="Warning" />
        <Rule Id="SA1403" Action="Warning" />
        <Rule Id="SA1404" Action="Warning" />
        <Rule Id="SA1405" Action="Warning" />
        <Rule Id="SA1406" Action="Warning" />
        <Rule Id="SA1407" Action="Warning" />
        <Rule Id="SA1408" Action="Warning" />
        <Rule Id="SA1409" Action="Warning" />
        <Rule Id="SA1410" Action="Warning" />
        <Rule Id="SA1411" Action="Warning" />
        <Rule Id="SA1412" Action="Hidden" />
        <Rule Id="SA1413" Action="Warning" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">
        <Rule Id="SA1300" Action="Warning" />
        <Rule Id="SA1301" Action="Warning" />
        <Rule Id="SA1302" Action="Warning" />
        <Rule Id="SA1303" Action="Warning" />
        <Rule Id="SA1304" Action="Warning" />
        <Rule Id="SA1305" Action="Hidden" />
        <Rule Id="SA1306" Action="Hidden" />
        <Rule Id="SA1307" Action="Warning" />
        <Rule Id="SA1308" Action="Hidden" />
        <Rule Id="SA1309" Action="Hidden" />
        <Rule Id="SA1310" Action="Warning" />
        <Rule Id="SA1311" Action="Warning" />
        <Rule Id="SA1312" Action="Hidden" />
        <Rule Id="SA1313" Action="Warning" />
        <Rule Id="SA1314" Action="Warning" />
        <Rule Id="SX1309" Action="Warning" />
        <Rule Id="SX1309S" Action="Warning" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.OrderingRules">
        <Rule Id="SA1200" Action="Hidden" />
        <Rule Id="SA1201" Action="Warning" />
        <Rule Id="SA1202" Action="Warning" />
        <Rule Id="SA1203" Action="Warning" />
        <Rule Id="SA1204" Action="Warning" />
        <Rule Id="SA1205" Action="Warning" />
        <Rule Id="SA1206" Action="Warning" />
        <Rule Id="SA1207" Action="Warning" />
        <Rule Id="SA1208" Action="Hidden" />
        <Rule Id="SA1209" Action="Hidden" />
        <Rule Id="SA1210" Action="Hidden" />
        <Rule Id="SA1211" Action="Hidden" />
        <Rule Id="SA1212" Action="Warning" />
        <Rule Id="SA1213" Action="Warning" />
        <Rule Id="SA1214" Action="Warning" />
        <Rule Id="SA1216" Action="Hidden" />
        <Rule Id="SA1217" Action="Hidden" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">
        <Rule Id="SA1100" Action="Warning" />
        <Rule Id="SA1101" Action="Hidden" />
        <Rule Id="SA1102" Action="Hidden" />
        <Rule Id="SA1103" Action="Hidden" />
        <Rule Id="SA1104" Action="Hidden" />
        <Rule Id="SA1105" Action="Hidden" />
        <Rule Id="SA1106" Action="Warning" />
        <Rule Id="SA1107" Action="Warning" />
        <Rule Id="SA1108" Action="Warning" />
        <Rule Id="SA1109" Action="Warning" />
        <Rule Id="SA1110" Action="Warning" />
        <Rule Id="SA1111" Action="Warning" />
        <Rule Id="SA1112" Action="Warning" />
        <Rule Id="SA1113" Action="Warning" />
        <Rule Id="SA1114" Action="Warning" />
        <Rule Id="SA1115" Action="Warning" />
        <Rule Id="SA1116" Action="Warning" />
        <Rule Id="SA1117" Action="Warning" />
        <Rule Id="SA1118" Action="Warning" />
        <Rule Id="SA1120" Action="Warning" />
        <Rule Id="SA1121" Action="Warning" />
        <Rule Id="SA1122" Action="Warning" />
        <Rule Id="SA1123" Action="Warning" />
        <Rule Id="SA1124" Action="Warning" />
        <Rule Id="SA1125" Action="Warning" />
        <Rule Id="SA1126" Action="Hidden" />
        <Rule Id="SA1127" Action="Warning" />
        <Rule Id="SA1128" Action="Warning" />
        <Rule Id="SA1129" Action="Warning" />
        <Rule Id="SA1130" Action="Warning" />
        <Rule Id="SA1131" Action="Warning" />
        <Rule Id="SA1132" Action="Warning" />
        <Rule Id="SA1133" Action="Warning" />
        <Rule Id="SA1134" Action="Warning" />
        <Rule Id="SA1135" Action="Hidden" />
        <Rule Id="SA1136" Action="Hidden" />
        <Rule Id="SA1137" Action="Hidden" />
        <Rule Id="SA1139" Action="Warning" />
        <Rule Id="SX1101" Action="Warning" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpacingRules">
        <Rule Id="SA1000" Action="Warning" />
        <Rule Id="SA1001" Action="Warning" />
        <Rule Id="SA1002" Action="Warning" />
        <Rule Id="SA1003" Action="Warning" />
        <Rule Id="SA1004" Action="Warning" />
        <Rule Id="SA1005" Action="Warning" />
        <Rule Id="SA1006" Action="Warning" />
        <Rule Id="SA1007" Action="Warning" />
        <Rule Id="SA1008" Action="Warning" />
        <Rule Id="SA1009" Action="Warning" />
        <Rule Id="SA1010" Action="Warning" />
        <Rule Id="SA1011" Action="Warning" />
        <Rule Id="SA1012" Action="Warning" />
        <Rule Id="SA1013" Action="Warning" />
        <Rule Id="SA1014" Action="Warning" />
        <Rule Id="SA1015" Action="Warning" />
        <Rule Id="SA1016" Action="Warning" />
        <Rule Id="SA1017" Action="Warning" />
        <Rule Id="SA1018" Action="Warning" />
        <Rule Id="SA1019" Action="Warning" />
        <Rule Id="SA1020" Action="Warning" />
        <Rule Id="SA1021" Action="Warning" />
        <Rule Id="SA1022" Action="Warning" />
        <Rule Id="SA1023" Action="Warning" />
        <Rule Id="SA1024" Action="Warning" />
        <Rule Id="SA1025" Action="Warning" />
        <Rule Id="SA1026" Action="Warning" />
        <Rule Id="SA1027" Action="Hidden" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpecialRules">
        <Rule Id="SA0001" Action="Hidden" />
        <Rule Id="SA0002" Action="Hidden" />
    </Rules>
    <Rules AnalyzerId="EnableError1by1" RuleNamespace="SS3D.Analyzers">
        <Rule Id="SA1028" Action="Hidden" />
        <Rule Id="UNT0001" Action="Hidden" />
        <Rule Id="UNT0008" Action="Hidden" />
        <Rule Id="UNT0010" Action="Hidden" />
        <Rule Id="UNT0013" Action="Hidden" />
        <Rule Id="UNT0014" Action="Hidden" />
        <Rule Id="UNT0019" Action="Hidden" />
        <Rule Id="UNT0021" Action="Hidden" />
        <Rule Id="UNT0022" Action="Hidden" />
        <Rule Id="UNT0026" Action="Hidden" />
        <Rule Id="UNT0028" Action="Hidden" />
        <Rule Id="UNT0029" Action="Hidden" />
        <Rule Id="RCS1006" Action="Hidden" />
        <Rule Id="RCS1008" Action="Hidden" />
        <Rule Id="RCS1009" Action="Hidden" />
        <Rule Id="RCS1012" Action="Hidden" />
        <Rule Id="RCS1014" Action="Hidden" />
        <Rule Id="RCS1015" Action="Hidden" />
        <Rule Id="RCS1033" Action="Hidden" />
        <Rule Id="RCS1042" Action="Hidden" />
        <Rule Id="RCS1049" Action="Hidden" />
        <Rule Id="RCS1069" Action="Hidden" />
        <Rule Id="RCS1073" Action="Hidden" />
        <Rule Id="RCS1077" Action="Hidden" />
        <Rule Id="RCS1080" Action="Hidden" />
        <Rule Id="RCS1099" Action="Hidden" />
        <Rule Id="RCS1104" Action="Hidden" />
        <Rule Id="RCS1110" Action="Hidden" />
        <Rule Id="RCS1111" Action="Hidden" />
        <Rule Id="RCS1112" Action="Hidden" />
        <Rule Id="RCS1118" Action="Hidden" />
        <Rule Id="RCS1129" Action="Hidden" />
        <Rule Id="RCS1132" Action="Hidden" />
        <Rule Id="RCS1134" Action="Hidden" />
        <Rule Id="RCS1136" Action="Hidden" />
        <Rule Id="RCS1156" Action="Hidden" />
        <Rule Id="RCS1160" Action="Hidden" />
        <Rule Id="RCS1161" Action="Hidden" />
        <Rule Id="RCS1162" Action="Hidden" />
        <Rule Id="RCS1168" Action="Hidden" />
        <Rule Id="RCS1179" Action="Hidden" />
        <Rule Id="RCS1182" Action="Hidden" />
        <Rule Id="RCS1197" Action="Hidden" />
        <Rule Id="RCS1211" Action="Hidden" />
        <Rule Id="RCS1214" Action="Hidden" />
        <Rule Id="RCS1218" Action="Hidden" />
        <Rule Id="RCS1221" Action="Hidden" />
        <Rule Id="RCS1238" Action="Hidden" />
        <Rule Id="RCS1240" Action="Hidden" />
        <Rule Id="RCS1244" Action="Hidden" />
        <Rule Id="RCS1246" Action="Hidden" />
    </Rules>
</RuleSet>